.tox*
*.coverage
virtual-env/*
dist/*
build/*
docs/_build/doctrees/*
docs/build
*.swp
docs/source/README.rst
pybedtools.egg-info/*
*.pyc
*.so
*.fai
*.egg
pybedtools/_Window.c
pybedtools/cbedtools.cpp
pybedtools/featurefuncs.cpp
*.bak
cythonize.dat
