# os:
#   - linux
#   - osx

# make edits to this line to trigger a new travis build.
# (sometimes it errors out trying to download from PyPI)
language: python

# see https://github.com/travis-ci/travis-ci/issues/9815 for py3.7 support
matrix:
  include:
    - python: 2.7
    - python: 3.6
    - python: 3.7
    - python: 3.8
      dist: xenial
      sudo: true

notifications:
    email:
        recipients:
            - ryankdale@gmail.com
            - dalerr@niddk.nih.gov
        on_success: always
        on_failure: always

services:
  - xvfb

# Most of this is from http://conda.pydata.org/docs/travis.html
install:
    - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
        wget https://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh;
      else
        wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
      fi
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH="$HOME/miniconda/bin:$PATH"
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    - conda info -a

script:
    - ./condatest.sh "$TRAVIS_PYTHON_VERSION"
